@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "IBM+Plex+Sans", "Karla", "Arial";
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

#navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 50px 0px 30px; */
  height: 120px;
}

#clubLogo {
  text-decoration: none;
  font-size: 28px;
  font-weight: 800;
  padding: 50px 0px 30px 0px;
}

#navbarContainer a {
  text-decoration: none;
  color: black;
}

#navLine {
  width: 100%;
  display: block;
  border: 2px solid black;
}
#navbar {
  display: flex;
  width: 30px;
  /* align-items: flex-end; */
  justify-content: flex-end;
  padding: 50px 0px 30px 20px;
}

#navbar a {
  font-size: 24px;
  padding: 10px 0px 10px 20px;
}

#navbar a:hover {
  text-decoration: underline !important;
}

.purple-attention {
  color: #5200ff !important;
}

#line {
  width: 100%;
  height: 5px;
  background-color: black;
}

body {
  padding: 0px 0px 0px 0px;
}

.bodyPadding {
  padding: 0px 50px 0px 50px;
}

.purpleBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #fcfafe;
  margin: 60px 0 0 0;
}

#signupChoice {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 150px 50px 0px 50px;
}

#signupChoice > div {
  width: 530px;
  height: 470px;
  border: 1px solid #e6e6e6;
  box-shadow: 2px 4px 4px #e6e6e6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signupChoice img {
  height: 233px;
  margin-bottom: 30px;
}

#signupChoice a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

#signupChoice a:hover {
  text-decoration: underline !important;
}


#searchbar {
  width: 45vw;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* .startup-list-container table{
  display: flex;
  justify-content: center;
} */
.startup-list-container .filters {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}
.startup-list-container td {
  border-bottom: 2px dotted #5200ff;
  font-size: 20px;
}
.startup-list-container h2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.startup-list-container img {
  width: 30px;
  /* clip-path: circle(30px at center); */
  clip-path: circle(40%);
}

/* #navbar a:visited{
  color: black;
} */

.startup-list-container td {
  text-align: center;
  padding: 10px;
}

.one-startup a {
  text-decoration: none;
  color: #5200ff;
  font-weight: bold;
}

.one-startup button {
  width: 150px;
  padding: 8px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1rem;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
} */

/* .navbar > li { */
/* #navbar > li {
  list-style: none;
  text-decoration: none;
}

startup-list-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
 
}


.one-startup > td {
  padding-left: 20px;
}

.filters {
  display: flex;
 justify-content: left;
}



  justify-content: right;
} */
