.progressBar {
  background-color: #5200ff;
  /* width: 75%; */
  height: 10px;
  border-radius: 50px;
}

.progressBarBg {
  background-color: lightgray;
  width: 100%;
  height: 10px;
  border-radius: 50px;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.questionContainer form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.questionContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

.questionContainer button,
input,
a {
  width: 200px;
  font-size: 24px;
}

.questionContainer a {
  text-decoration: none;
  color: 77ee7e;
}

.questionContainer a:visited {
  text-decoration: none;
  color: 77ee7e;
}

.questionContainer button {
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
}

.questionContainer input {
  height: 30px;
  color: 38333d;
}

.questionContainer form h3 {
  font-family: "IBM Plex Sans Condensed";
  font-size: 48px;
  font-weight: normal;
}

.questionContainer form label:first-child {
  font-family: "IBM Plex Sans Condensed";
  font-size: 48px;
  font-weight: normal;
}

.answerRadio > label {
  font-size: 18px !important;
  /* position: relative;
  cursor: pointer; */
  /* display: inline-block; */
}

.answerRadio {
  /* display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start; */
  text-align: left;
}

.startup-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}