@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid #222; */
  margin: 0 auto;
  margin-top: 5%;
 /* margin-bottom: 2%; */
  width: 80vw;
  height: 60vh;
  border-radius: 15px;
  /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5); */
  padding: 30px;
}

.left-side h2 {
  margin-bottom: 35px;
  font-family: "IBM Plex Sans Condensed";
  font-weight: 500;
  font-size: 32px;
}
.left-side h3,
h4,
textarea {
  margin-bottom: 15px;
}


h4{
  font-family: "IBM Plex Sans Condensed";
  font-weight: 500;
}

p{
  font-family: "IBM Plex Sans Condensed";
  font-weight: 400;
  color: #7E7E7E;
}
#profilePic{
  height: 75px;
}
a:hover{
  text-decoration: underline;
}

.profileLinks{
  text-decoration: underline;
}

#pin{
  width: 20px;
}

.sideBySide{
  display: flex;
}
.social-links {
  display: flex;
  flex-direction: column;
}

.social-links a {
  font-size: 18px;
  font-family: "IBM Plex Sans Condensed";
  font-weight: 400;
  color: #5200FF;
}

.social-links a:visited {
  font-size: 18px;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 650px;
}
.score{
  font-size: 20px;
}
.top {
  display: flex;
  margin-bottom: 2rem;
  
  padding: 10px;
  justify-content: space-between;
  font-family: "IBM Plex Sans Condensed" !important;
}

.top-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width:  */
  margin-right: 2.5rem;
  font-family: "IBM Plex Sans Condensed" !important;
}
.right-side hr {
  background-color: #5200ff;
  height: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bot-left {
  flex-direction: column;
}

.bot-right {
  flex-direction: column;
}

.bot-detail {
  flex-direction: row;
  padding: 10px;
  width: 290px;
  justify-content: space-around;
}

.bot-detail h4 {
  border-bottom: 1px dotted #5200ff;
  padding-top: 1.5rem;
  margin-top: -0.5rem;
  display: flex;
  justify-content: space-between;
}

.overview {
  margin-top: 3rem;
  font-size: 20px;
}

.startup-container {
  display: flex;
  flex-direction: column;
}

.startup-container button {
  width: 100px;
  padding: 8px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-left: 68vw;
}

.edit-form {
  width: 80vw;
  margin: 0 auto;

}

.edit-form label,
input {
  font-size: 1rem;
}

.edit-form input {
  padding: 5px;
}

.form-container {
  width: 500px;
  width: 60vw;
}

.form-detail {
  border: 1px solid #222;
  border-radius: 15px;
  /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5); */
  padding: 30px;
  margin: 1rem;
  width: 70vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.question {
  justify-content: center;
  align-items: center;
}
